<div class="@Class card" @attributes="@AdditionalAttributes">
    <div class="card-header@(Collapsed ? " collapsed" : "")" @onclick="HeaderClicked">
        <div class="row align-items-center">
            <h5 class="col mb-0">@Title</h5>
            @ExtraButtonsFragment
            @switch (Closable)
            {
                case ClosableType.None:
                    break;
                case ClosableType.Collapse:
                    <i class="col-auto text-big fa-solid fa-angle-@(Collapsed ? "right" : "up")"></i>
                    break;
                case ClosableType.Close:
                    <i class="col-auto text-big fa-solid fa-times" @onclick="CloseClicked"></i>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </div>
    </div>
    <div class="card-body@(Collapsed ? " collapse" : "")">
        @ChildContent
    </div>
</div>